h1 {
    background: #b3b3b3;
    font-size: 150%;
    color: #FFFFFF;
    font-family: Courier, Impact, Arial;
}

header {
    background: #666666;
    text-align: center;
}


footer {
    background: #FFFFFF;
    text-align: center;

}