h1 {
    background: #b3b3b3;
    font-size: 150%;
    color: #FFFFFF;
    font-family: Courier, Impact, Arial;
}

header {
    background: #666666;
    text-align: center;
    font-family: Courier, Impact, Arial;
    font-size: 150%;
}


body {
    background-color: lightblue;
    font-family: Courier, Impact, Arial;
   

  }

div {
    width: 30%;
    background:#00fFFF;
    height:200px;
    margin: 5px;
    display:inline-block;
    border: 20 px solid #000000;
    padding: 15px;
    margin: 0 auto;
    margin-top: 50px;
    
     
    
    
    
    

}
h2 {
    text-align: center;
    font-family: Courier, Impact, Arial;
    
}

h3 {
        text-align: center;
        font-family: Courier, Impact, Arial;
        
}
footer {
    background: lightblue;
    text-align: center;
    font-family: Courier, Impact, Arial;
    

}